@charset "UTF-8";

/*Versão para outras mídia

Pequenas telas: max-width 600px
Celular: min-width 600px
Tablet: min-width 768px ou mais
Desktop: min-width 992 ou mais
Telas grandes: min-width 1200px ou mais

*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: none;
        background-color: white;
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}

    footer {
        position: absolute;
        top: 90%;
    }
    footer::after {
        content: 'Site de exemplo impresso usando configurações de Media Query';
        text-align: center;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width:1200px){
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}