@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0 0 0 0;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'android', sans-serif;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte0);
    font-size: 16px;
}
header {
    background-image: linear-gradient(to top, var(--cor5), var(--cor2));
    text-align: center;
    color: white;
    min-height: 150px;
    padding-top: 20px;
}


header > h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: var(--fonte1);
    font-size: 3em;
    font-weight: 100;
}

nav {
    text-align: left;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.411);
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.3s; /*essa propriedade tem que ser colocada aqui, não junto com a pseudoclasse*/
    
}

header > p {
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    text-align: center;
    line-height: 1em;
}

main {
    background-color: white;
    max-width: 800px;
    min-width: 200px;
    margin: auto;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
}

main > article {
    padding: 50px;
}

p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2;
    padding: 15px 0px;
}

main > p {
    padding: 15px 50px;
}

main > article > h2 {
    background-image: linear-gradient(to right, var(--cor0), white);
    color: var(--cor5);
    font-family: var(--fonte2);
    font-weight: normal;
}

main > article > h1 {
    font: normal normal 2em 'android', helvetica, sans-serif;
    color: var(--cor5);
    font-weight: normal;
}


ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

#titulorel {
    max-height: 30px;
    font-size: 1em;
    color: white;
    background-color: var(--cor3);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.514);
    padding: 10px 10px 10px 10px;
}

aside {
    padding: 30px;
}

aside > div > p {
    text-align: justify;
    text-indent: 30px;
}

img {
    width: 100%;
}


#bugpq {
    max-width: 350px;
    display: block;
    margin: auto;
}

#conteudorel {
    padding: 20px;
    background-color: var(--cor0);
    border-radius: 0px 0px 15px 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.514);
}

footer > p {
    padding: 0px 0px 0px 0px;
    text-align: center;
    color: white;
    background-color: var(--cor5);
    font-size: .9em;
}

.destaque {
    color: var(--cor4);
}

.link {
    text-decoration: none;
}

.link::after {
    content: '\0020\1F517\0020';
}


.link:hover {
    color: var(--cor5);
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
   /* background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
   Nesse caso o transition-duration: 1s; não funciona ao passar o mouse, somente com o background-color*/
}

#video {
    background-color: var(--cor5);
    position: relative;
    padding-bottom: 56.3%;
}

iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}