@charset "UTF-8";

body {
    background-color: rgb(88, 208, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(94, 104, 7);
    background-color: rgb(204, 247, 247);
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}