@charset "UTF-8";

body {
    height: 100vh; /*100 porcento da viewport, ou seja da tela do meu navegador*/
    background-color: black;
    background-image: url("../imagens/wallpaper002.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /*cover ocupa 100 porcento da viewport*/
}

main {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    text-align: justify;
    text-indent: 20px;
    border: 1px solid darkblue;
    border-radius: 15px;
   
}